
@media screen and (min-width: 768px) {
    

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .products-grid,
    .catalog-grid,
    .gallery-grid,
    .testimonials-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .contact-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
        .nav-list a {
            position: relative;
            text-decoration: none;
        }
    
        .nav-list a::after {
            content: "";
    
            position: absolute;
    
            left: 0;
            bottom: -6px;
    
            width: 0;
            height: 3px;
    
            background-color: var(--var4);
    
            transition: width .3s ease;
        }
    
        .nav-list a:hover::after {
            width: 100%;
        }
        .about-highlights {
            grid-template-columns: repeat(3, 1fr);
        }
        .category-section {
            width: 100%;
            padding: 0 8rem;
        }
        .product-card {
        flex: 0 0 calc(50% - .75rem);
        }
        .category-header h3 {
            font-size: 1.5rem;
        }
        .favorites-section {
        margin-top: 2rem;
        padding: 0 8rem;
        }
        .gallery-grid {
        padding: 0 8rem;
        }
         

        #productModal {
        max-width: 600px;
        padding: 5px 20px;
        }

        #modalContent img {
        height: 220px;
        }

        .products-grid {
        padding: 0 10rem;
        }
        .highlight-card {
        padding: 1.5rem 3rem;
        }
        .about-highlights {
        padding: 0 6rem;
        }
        #testimonials {
        padding: 3rem 6rem;
        }

}


/* DESKTOP */

@media screen and (min-width: 1024px) {

    section {
        padding: 6rem 2rem;
    }

    .header {
        padding: 1.5rem 3rem;
    }

    .menu-btn,
    .close-btn {
        display: none;
    }

    .navbar {
            position: static;
            width: auto;
            height: auto;
            padding: 0;
            background: transparent;
    
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 150px;
            flex: 1;
        }

        .nav-list {
            margin: 0;
    
            display: flex;
            flex-direction: row;
    
            align-items: center;
            justify-content: center;
    
            gap: 2rem;
    
            flex: 1;
        }
        .contact-btn {
            background: var(--var4);
    
            color: white;
    
            text-decoration: none;
    
            padding: .1rem 1.6rem;
    
            border-radius: 40px;
    
            font-weight: bold;
    
            transition: .3s;
    
            margin-left: auto;
        }
    
        .contact-btn:hover {
            background: var(--var2);
    
            transform: translateY(-3px);
        }

    .hero-content h1 {
        font-size: 5rem;
    }

    .products-grid,
    .catalog-grid,
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .testimonials-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-content,
    .contact-content {
        max-width: 1200px;
        margin: 0 auto;
    }
    .category-section {
        width: 100%;
        padding: 0 12rem;
    }
    .product-card {
        flex: 0 0 calc(33.333% - .75rem);
    }
    .favorites-section {
    margin-top: 2rem;
    padding: 0 12rem;
    }
    .gallery-grid {
    padding: 0 12rem;
    }
    .products-grid {
    padding: 0 13rem;
    }
    .about-highlights {
    padding: 0 13rem;
    }
    #testimonials {
    padding: 5rem 12rem;
    }
}



@media screen and (max-width: 767px) {

    .hero-section {

        background-image:
            linear-gradient(rgba(0, 0, 0, .45),
                rgba(0, 0, 0, .45)),
            url("../images/hero/imghero1.webp");

    }
    .navbar {
    
        position: fixed;

       top: 0;
        left: 0;
    
       width: 100%;
            height: 100vh;
    
            background: var(--var7);
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            transform: translateX(100%);
    
            transition: .4s ease;
    
            z-index: 999;
        }
    
        .navbar.active {
            transform: translateX(0);
        }
    
        .nav-list {
    
            display: grid;
    
            grid-template-columns: repeat(2, 1fr);
    
            gap: 1rem;
    
            width: 90%;
            max-width: 500px;
    
            margin: 0;
        }
    
        .nav-list a {
    
            display: flex;
    
            justify-content: center;
            align-items: center;
    
            min-height: 80px;
    
            background: rgba(255, 255, 255, .25);
    
            border-radius: 15px;
    
            font-weight: bold;
    
            color: var(--var2);
    
            text-decoration: none;
        }
    
        .close-btn {
    
            position: absolute;
    
            top: 2rem;
            left: 2rem;
    
            background: none;
    
            border: none;
    
            font-size: 2rem;
    
            color: var(--var2);
    
            cursor: pointer;
        }
        .navbar {

    flex-direction: column;

    gap: 1.5rem;
        }
    .contact-btn {

    grid-column: 1 / -1;

    text-align: center;

    margin-top: 1rem;

    padding: 1rem;

    border-radius: 15px;

    background: var(--var4);

    color: white;

    font-weight: bold;
}
.mobile-logo {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}

.mobile-logo img {
    width: 180px;
    height: auto;
}

}

